/* color de fons del menu superior */
.bg-control-dark { background-color: #000; }

/* footer */
#footer {

}

/* navbar sempre fixe a dalt*/
.navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* espai per salvar el navbar */
.espai-navbar { margin-top:45px; }
/* navbar superior per sobre de la lateral */
nav { z-index: 2000 !important; }

